<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>Member</pluginName>
        <pluginNiceName>Pimcore frontend user</pluginNiceName>
        <pluginDescription><![CDATA[]]></pluginDescription>
        <pluginVersion>0.1.0</pluginVersion>
        <pluginClassName>\Member\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/Member/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>Member</namespace>
        </pluginNamespaces>
        <pluginJsPaths>
            <path>/plugins/Member/static/js/startup.js</path>
        </pluginJsPaths>
        <pluginCssPaths>
            <path>/plugins/Member/static/css/example.css</path>
        </pluginCssPaths>
        <pluginXmlEditorFile>/website/var/plugins/member/config.xml</pluginXmlEditorFile>
    </plugin>
</zend-config>
