.btn-social {
  color: #fff; }
  .btn-social:hover, .btn-social:focus, .btn-social:active {
    color: #fff; }

.btn-facebook {
  background-color: #3b5998; }
  .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
    background-color: #344e86; }

.btn-twitter {
  background-color: #00aced; }
  .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active {
    background-color: #0099d3; }

.btn-google {
  background-color: #c32f10; }
  .btn-google:hover, .btn-google:focus, .btn-google:active {
    background-color: #ab290e; }

@media (min-width: 768px) {
  .forgot-pwd {
    text-align: right;
    margin-top: 10px; } }

.member .social-or {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .member .social-or hr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .member .social-or .text {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.2em;
    margin-left: -1.5em;
    background-color: #fff;
    width: 3em;
    text-align: center; }
