<zend-config>
    <auth>
        <adapter>
            <identityClassname>Object\Member</identityClassname>
            <identityColumn>email</identityColumn>
            <credentialColumn>password</credentialColumn>
            <objectPath>/members</objectPath>
        </adapter>
    </auth>
    <routes>
        <login>/member/login</login>
        <logout>/member/logout</logout>
        <register>/member/register</register>
        <profile>/member</profile>
    </routes>
</zend-config>
