<zend-config>
    <auth>
        <adapter>
            <identityClassname>Object\Member</identityClassname>
            <identityColumn>email</identityColumn>
            <credentialColumn>password</credentialColumn>
            <objectPath>/members</objectPath>
        </adapter>
    </auth>
    <routes>
        <login>/member/login</login>
        <logout>/member/logout</logout>
        <register>/member/register</register>
        <profile>/member</profile>
        <confirm>/member/confirm</confirm>
        <passwordRequest>/member/password-request</passwordRequest>
        <passwordReset>/member/password-reset</passwordReset>
    </routes>
    <emails>
        <registerConfirm>/member/emails/register-confirm</registerConfirm>
        <passwordReset>/member/emails/password-reset</passwordReset>
    </emails>
    <actions>
        <postRegister>activate</postRegister>
    </actions>
</zend-config>
